<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań</title>
</head>
<body>
    <h3>Zadania do zrealizowania:</h3>
    <ol>
        {% for task in tasks %}
            <li>
                <a href="{% url 'formapp_6:update' task.id %}">
                    {{ task.name }}
                </a>
                <form method="POST" action="{% url 'formapp_6:delete' task.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" value="Usuń">
                </form>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
